<%= link_to "Signout", signout_path %>

<div class="main">
  <%= image_tag("apple-touch-icon.png")  %>
  <%= form_tag "/flames/show" do %>
    <%= text_field_tag "your_name", nil, placeholder: 'Your Name' %>
    <%= text_field_tag "crush_name", nil, placeholder: "Your Crush's Name" %>
    <%= submit_tag "Find", class: "find-button" %>
  <% end %>
</div>
<h3 id="result"><%= @flame %></h3>